out
dist
node_modules
.vscode-test/
*.vsix
.idea

data/.vscode

very_large.parquet
very_large_2.parquet
binary_string.parquet
weird_columns.parquet
issue*.parquet
number_leading_zeroes.parquet
date32_date64_data.parquet
amperstand_string.parquet
spaced column.parquet
userdata1.parquet
empty.parquet