# vscode files
.vscode/**
.vscode-test/**

# hidden files and folder in root
**/.*
**/.*/

# typescript files
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

data/

node_modules
webpack.config.js
