# vscode files
.vscode/**
.vscode-test/**

# hidden files and folder in root
**/.*
**/.*/

# typescript files
src/**
test/**
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.tsbuildinfo

.gitignore
.yarnrc
vsc-extension-quickstart.md

# test outputs
dist/test/**

data/

node_modules
webpack.config.js
