html, body {
    height: 100%; /* Ensures that the body takes the full height of the viewport */
    margin: 0;    /* Removes default margin */
    padding: 0;   /* Removes default padding */
    font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
}

#container {
    height: 100vh; /* Sets the height of the container to be 100% of the viewport height */
    display: flex; /* Using flexbox for easy alignment and distribution of children */
    flex-direction: column; /* Aligns children vertically */
}


#table, #schema, #metadata {
    height: 100%;
}

#query-tab-container {
    height: 100%;
    display: flex; /* Using flexbox for easy alignment and distribution of children */
    flex-direction: column; /* Aligns children vertically */
}

#editor {
    height: 25%;
    resize: vertical; 
    overflow: auto;
    box-sizing: border-box;
}

#query-actions {
    flex: 0 0 auto; /* Respects its height */
    min-height: 40px;
    max-height: 5%; /* Maximum height relative to the viewport */
    box-sizing: border-box;
}

#table-queryTab {
    flex: 1; /* Fills remaining space */
    max-height: calc(100vh - 20% - 40px); /* Ensures it won't overflow the viewport */
    overflow: hidden; /* Allows scrolling inside if content overflows */
    box-sizing: border-box;
}

@media (max-width: 1024px) and (min-width: 769px)  {
    #editor {
        height: 25%;
    }

    #query-actions {
        flex: 0 0 auto;
        min-height: 40px; /* Adjusted min-height */
        max-height: 6%;
    }

    #table-queryTab {
        flex: 1; /* Dynamically fill remaining space */
    }
}

@media (max-width: 768px) {
    #editor {
        height: 25%;
    }

    #query-actions {
        flex: 0 0 auto;
        min-height: 40px; /* Adjusted min-height */
        max-height: 6%;
    }

    #table-queryTab {
        flex: 1; /* Dynamically fill remaining space */
    }

    #copy-query-results {
        display: flex;
        align-items: center; /* Ensures proper alignment */
        justify-content: center; /* Centers the SVG */
    }

    #copy-query-results::after {
        display: none; /* If text is added via pseudo-elements, ensure it is hidden */
    }

    #copy-query-results svg {
        margin-right: 0; /* Removes any spacing if present */
    }

    #copy-query-results {
        font-size: 0; /* Hides text by collapsing its space */
    }

    #export-query-results {
        display: flex;
        align-items: center; /* Aligns icons properly */
        justify-content: center; /* Centers content in the button */
    }

    #export-query-results {
        font-size: 0; /* Hides the button text */
    }

    #export-query-results svg {
        font-size: initial; /* Ensures SVGs remain visible */
    }

    #export-query-results .dropdown-icon {
        margin-left: 4px; /* Adds slight spacing between icons */
    }
}

.button-container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.flex-button {
    display: flex;
    align-items: center;
    max-height: 21px;
    background-color: #101010;
    color: #d4d4d4;
    margin: 0 2px;
    padding: 2px 7px;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
}

.flex-button:disabled {
    opacity: .5;
}

/* Search container */

.search-container {
    display: flex;
    width: 50%;
    align-items: center;
    border: 1px solid #ccc;
    padding: 3px;
    margin-right: 10px;
}

.search-icon-element {
    margin-right: 8px;
    margin-left: 3px;
}

.search-icon {
    width: 13px;
    height: 13px;
}

.search-icon circle, 
.search-icon path {
    fill: none; /* Ensure no fill on path */
    stroke: #ffffff; /* Set stroke color to white */
}

.search-box {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}

/* Additional CSS to ensure no border or outline on focus */
.search-box:focus {
    border: none;  /* Ensures no border on focus */
    outline: none; /* Ensures no outline on focus */
}

.search-box::placeholder {
    color: #999;
}

.clear-icon-element {
    display: none; /* Hide the element by default */
    margin-left: 8px; /* Space between the input box and the clear icon */
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
}

.clear-icon {
    width: 13px;
    height: 13px;
    stroke: #ffffff; /* Set stroke color to white */
}

/* copy button */
/* SVG icon styling */
.copy-icon {
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-right: 2px;
}

.copy-icon path {
    fill: none; /* Ensure no fill on path */
    stroke: #ffffff; /* Set stroke color to white */
}

/* dropdown export button */

.export-icon {
    margin-right: 2px;
}
.dropdown-icon {
    vertical-align: middle;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-item {
    text-align: left;
    width: 85px;
}

.dropdown-menu li {
    margin: 0 2px;
    padding: 2px 5px;
    border-left: 0.5px solid  #aaa;
    border-right: 0.5px solid  #aaa;
}

.dropdown-menu li:last-child {
    margin: 0 2px;
    padding: 2px 5px;
    border-left: 0.5px solid  #aaa;
    border-right: 0.5px solid  #aaa;
    border-bottom: 0.5px solid  #aaa;
}

.dropdown-menu li span {
    display: block;
    text-decoration: none;
    cursor: pointer; /* Make it look like a clickable item */
}

.dropdown-menu li span:hover {
    font-weight: bolder;
}

@media (max-width: 768px) {
    .dropdown-menu {
        right: 0;
    }
}

/* ace tooltip*/
#doc-tooltip {
    overflow-wrap: anywhere;
    overflow-y: auto;
    overflow-x: auto;
    height: inherit;
    min-width: 300px;
}
