table, th, td {
    border: 1px solid;
}

/* TODO: put some of these duplicate rules in a new class in a root DIV element*/
table {
    border-collapse: collapse;
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    max-height: 35em;
    height: 35em;
}

#raw {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    height: 35em;
    max-height: 35em;
}

td {
    max-width: 20em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    background-color: #45484A;
}

.header-sticky {
    position: sticky; 
    top: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    flex-grow: 1;
    padding-left: 1em;
}

.buttons {
    display: flex;
    gap: 10px; /* Adjust the spacing between buttons as needed */
}

