#table {
    font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
    /* height: 100vh; */
}

#table .tabulator-header .tabulator-col {
    background-color:#080808;
    color: #d4d4d4;
}

#table .tabulator-row {
    color: #d4d4d4;
}

#table .tabulator-row-odd {
    background-color: #151515;
}
#table .tabulator-row-even {
    background-color: #202020;
}

#table .tabulator-footer * {
    background-color: #101010;
    color: #d4d4d4;
}

#table .tabulator-popup {
    background-color: #101010;
    color: #d4d4d4;
}