/*Theme the header*/

#table {
    font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
}

#table .tabulator-header .tabulator-col {
    background-color:#1f1f1f;
    color:white;
}