
div.tab-frame input{ 
    display:none;
}
div.tab-frame > label{ 
    display:block; 
    float:left;
    padding:5px 10px; 
    cursor:pointer
}
div.tab-frame input:checked + label{ 
    background:black; 
    color:white; 
    cursor:default
}
div.tab-frame div.tab{ 
    display:none; 
    padding:5px 10px;
    clear:left
}

div.tab-frame input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
div.tab-frame input:nth-of-type(2):checked ~ .tab:nth-of-type(2){ 
    display:block;
}
/* body{width:600px;margin:20px auto;font-family:Arial;} */