.tab-frame {
    height: 100%; /* Takes the full height of its parent */
    display: flex;
    flex-direction: column;
}

input[type="radio"] {
    margin: 5px 0; /* Provides spacing for the radio buttons, adjust as needed */
}

.tab {
    flex-grow: 1; /* Allows the tab div to take up any remaining space */
    overflow: auto; /* Adds scroll bar if the content overflows */
    display: none;
}

/* Initialize this tab */
#query-tab-panel {
    display: block;
}

.tab-frame .tab-buttons input{ 
    display:none;
}
.tab-frame .tab-buttons > label{ 
    display:block; 
    float:left;
    padding:5px 10px; 
    cursor:pointer;
}
.tab-frame .tab-buttons div.tab{ 
    display:none; 
    padding:5px 10px;
    clear:left
}
